In [13]:
import pandas as pd
import numpy as np

In [14]:
# df = pd.read_excel('../data/Boston_Housing.xlsx', sheet_name='Data')

In [15]:
# créer un fichier csv
# df.to_csv('../data/bronze.csv', index=False)

In [16]:
df = pd.read_csv('../data/bronze.csv')

In [17]:
# Display the first few rows of the DataFrame
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [18]:
# Check the shape of the DataFrame
print("\nShape of the DataFrame:", df.shape)

Shape of the DataFrame: (506, 14)

In [19]:
# Check for missing values
print("\nMissing values in each column:\n", df.isnull().sum())

Missing values in each column:
 CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [20]:
# Check for duplicate rows
print("\nNumber of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [21]:
# Check the data types of each column
print("\nData types of each column:\n", df.dtypes)

Data types of each column:
 CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [22]:
# Check the distribution of values in each column
print("\nDistribution of values in each column:")
for col in df.columns:
    print(df[col].value_counts())

Distribution of values in each column:
0.01501     2
14.33370    2
0.03466     1
0.03113     1
0.03049     1
           ..
1.51902     1
1.83377     1
1.46336     1
1.27346     1
0.04741     1
Name: CRIM, Length: 504, dtype: int64
0.0      372
20.0      21
80.0      15
22.0      10
12.5      10
25.0      10
40.0       7
45.0       6
30.0       6
90.0       5
95.0       4
60.0       4
21.0       4
33.0       4
55.0       3
70.0       3
34.0       3
52.5       3
35.0       3
28.0       3
75.0       3
82.5       2
85.0       2
17.5       1
100.0      1
18.0       1
Name: ZN, dtype: int64
18.10    132
19.58     30
8.14      22
6.20      18
21.89     15
        ...
1.21       1
1.38       1
3.75       1
0.46       1
2.31       1
Name: INDUS, Length: 76, dtype: int64
0    471
1     35
Name: CHAS, dtype: int64
0.538    23
0.713    18
0.437    17
0.871    16
0.624    15
         ..
0.394     1
0.518     1
0.385     1
0.389     1
0.435     1
Name: NOX, Length: 81, dtype: int64
5.713    3
6.167    3
6.127    3
6.229    3
6.405    3
        ..
5.859    1
6.416    1
5.572    1
5.880    1
6.976    1
Name: RM, Length: 446, dtype: int64
100.0    43
95.4      4
96.0      4
98.2      4
97.9      4
         ..
58.4      1
74.4      1
73.4      1
33.1      1
89.3      1
Name: AGE, Length: 356, dtype: int64
3.4952    5
5.7209    4
5.2873    4
6.8147    4
5.4007    4
         ..
2.4220    1
2.1620    1
2.0407    1
1.9709    1
2.5050    1
Name: DIS, Length: 412, dtype: int64
24    132
5     115
4     110
3      38
6      26
2      24
8      24
1      20
7      17
Name: RAD, dtype: int64
666    132
307     40
403     30
437     15
304     14
      ...
285      1
198      1
256      1
244      1
313      1
Name: TAX, Length: 66, dtype: int64
20.2    140
14.7     34
21.0     27
17.8     23
19.2     19
17.4     18
18.6     17
19.1     17
18.4     16
16.6     16
21.2     15
15.2     13
13.0     12
17.9     11
20.9     11
18.7      9
19.6      8
19.7      8
17.6      7
16.4      6
16.9      5
16.0      5
20.1      5
18.0      5
16.1      5
19.0      4
18.3      4
16.8      4
18.2      4
14.9      4
18.5      4
17.0      4
18.9      3
12.6      3
14.8      3
15.3      3
15.9      2
15.6      2
18.8      2
22.0      2
13.6      1
15.1      1
17.3      1
21.1      1
14.4      1
15.5      1
Name: PTRATIO, dtype: int64
396.90    121
393.74      3
395.24      3
376.14      2
394.72      2
         ...
240.16      1
389.61      1
374.43      1
338.92      1
391.99      1
Name: B, Length: 357, dtype: int64
7.79     3
14.10    3
6.36     3
18.13    3
8.05     3
        ..
3.32     1
1.92     1
1.73     1
6.43     1
7.88     1
Name: LSTAT, Length: 455, dtype: int64
50.0    16
25.0     8
22.0     7
21.7     7
23.1     7
        ..
32.9     1
34.6     1
30.3     1
33.3     1
8.1      1
Name: MEDV, Length: 229, dtype: int64

In [23]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [24]:
# Rename the columns
df.columns = ['crime_rate', 'residential_zone_pct', 'business_acres_pct', 'charles_river_dummy', 
              'nitric_oxides_concentration', 'average_rooms', 'age', 'distances_to_employment_centres', 
              'accessibility_to_highways', 'property_tax_rate', 'pupil_teacher_ratio', 'black_population', 
              'lower_status_pct', 'median_home_value']

In [25]:
# met dans un fichier csv
df.to_csv('../data/silver.csv', index=False)