In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pycaret.regression import *

In [32]:
df = pd.read_csv('../data/gold.csv')

In [33]:
# df['distance_accessibility_ratio'] = df['distances_to_employment_centres'] / df['accessibility_to_highways']
# df['crime_rate_black_population_ratio'] = df['crime_rate'] / df['black_population']

In [34]:

# # Drop the variables from the dataframe
# df = df.drop(['charles_river_dummy'], axis=1)

In [35]:
# Initialize setup
regression_setup = setup(data = df, target = 'median_home_value' , session_id=42 )

# Compare models
best_model = compare_models()

# Print the best model
print(best_model)

ExtraTreesRegressor(n_jobs=-1, random_state=42)

In [36]:
final_model = finalize_model(best_model)

In [37]:
predictions = predict_model(final_model, data=df)

In [38]:
model = create_model('et')

In [39]:
tuned_model = tune_model(model)

Initiated  . . . . . . . . . . . . . . . . . .              15:05:29
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [40]:
evaluate_model(tuned_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…